<%= form_with model: @article, local: true do |form| %>
  <%= render 'errors', errors: @article.errors, record_name: 'article' %>
  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br/>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :city %><br/>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :state %><br/>
    <%= form.text_field :state %>
  </p>

  <p>
  <p>
    <%= form.label :zipcode %><br/>
    <%= form.text_field :zipcode %>
  </p>

    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', articles_path %>